pkgbase = python-virtualenv
	pkgdesc = Virtual Python Environment builder
	pkgver = 20.24.6
	pkgrel = 1
	url = https://virtualenv.pypa.io
	arch = any
	license = MIT
	checkdepends = fish
	checkdepends = python-coverage
	checkdepends = python-flaky
	checkdepends = python-pip
	checkdepends = python-pytest
	checkdepends = python-pytest-freezer
	checkdepends = python-pytest-mock
	checkdepends = python-time-machine
	checkdepends = tcsh
	checkdepends = xonsh
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	makedepends = python-sphinx
	makedepends = python-sphinx-argparse
	makedepends = python-sphinxcontrib-towncrier
	makedepends = python-wheel
	makedepends = towncrier
	depends = python
	depends = python-distlib
	depends = python-filelock
	depends = python-platformdirs
	conflicts = virtualenv
	replaces = virtualenv
	options = !makeflags
	source = python-virtualenv::git+https://github.com/pypa/virtualenv#commit=29c08dfd640ecc176df995c39a55a0509990bdc4
	b2sums = SKIP

pkgname = python-virtualenv
